.addQuestionFormWrpp{
    width: 100%;
    max-width: 960px;
    height: 100%;
    background-color: var(--card-bg-color);
    color: var(--card-text-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
    padding: 25px 15px;
    margin: 0 auto;
    box-sizing: border-box;
}
.formTitle{
    width: 100%;
    text-align: center;
}
.removeBtn{
    cursor: pointer;
    background-color: #d84040;
    color: #ffffff;
    padding: 3px 15px;
    margin: 0 auto;
    border: none;
    border-radius: 5px;
}
