.form{
    background-color: var(--card-bg-color);
    color: var(--card-text-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    max-width: 580px;
    padding: 20px 15px;
    margin: 0 auto;
    gap: 15px;
}
.fieldWrapper{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 5px;
    label{
        font-size: 16px;
    }
    select, textarea{
        width: 100%;
        background-color: var(--main-bg-color);
        color: var(--main-text-color);
        font-size: 16px;
        border: none;
        border-radius: 5px;
        padding: 5px;
        box-sizing: border-box;
    }
    textarea{
        resize: vertical;
    }
    select:focus-visible, textarea:focus-visible{
        outline: 2px solid var(--main-text-color);
    }
    .checkbox{
        width: 18px;
        height: 18px;
        accent-color: #16c47f;
    }
    .checkbox:disabled + span{
        opacity: 0.5;
    }
}
.checkboxLabel{
    display: flex;
    align-items: center;
    gap: 10px;
}